.page-title {
    font-family: roboto;
    font-size: 24px;
}

.class-list-item {
    color: blue;
    font-family: 'Source Sans Pro';
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.class-item {
    margin: 0px 10px 0px 10px;
}
