<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="page-title">
      Classroom List
    </ion-title>
    <ion-buttons slot="end">
        <ion-button routerLink="/create"><ion-icon name="add-circle"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="class-list-item" *ngFor="let currClass of classes">
      <ion-icon name="heart" slot="start"></ion-icon>
      <div class="class-item">
        {{currClass.subject}}
      </div>
      <div class="class-item">
        {{currClass.days}}
      </div>
      <ion-button slot="end" routerLink="/class-detail/{{currClass.id}}">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
