<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Classroom Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{currentClass.subject}}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <ion-card-subtitle>Students:</ion-card-subtitle>
        <ul>
          <li *ngFor="let student of classRoster">{{student.name}}</li>
        </ul>
        <ion-buttons slot="primary">
          <ion-button routerLink="/edit/{{currentClass.id}}">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="onDelete(currentClass.id)">
            <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </ion-content>
